/*login.css*/
body {
	font-family: "微软雅黑";
	overflow: hidden;
}

.login {
	z-index: 200;
	width: 28%;
	height: 76%;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}

.login-icon {
	margin: 0 auto;
	margin-top: 4%;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 1px solid #DFDFDF;
	background: #DFDFDF;
}

.login-user,.login-pass {
	display: block;
	position: relative;
	width: 74%;
	margin: 0 auto;
	padding-bottom: 1%;
	border: none;
	border-bottom: 1px solid #252424;
	outline: none;
	font-size: 1rem;
}



