/*login.css*/
body {
	font-family: "微软雅黑";
	/*overflow: hidden;*/
}

.login,.register,.remember {
	/*display: inline-block;*/
	position: relative;
	width: 28%;
	height: 76%;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}

.login {
	z-index: 200;
	/*display: none;*/
}

.register {
	z-index: 300;
}

.remember {
	z-index: 400;
}

.login-icon {
	margin: 0 auto;
	margin-top: 4%;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 1px solid #DFDFDF;
	background: #DFDFDF;
}

.login-form {
	margin-top: 2%;
	position: relative;
}

.login-user,.login-pass {
	display: block;
	width: 74%;
	margin: 0 auto;
	padding-bottom: 1%;
	padding-top: 8%;
	border: none;
	border-bottom: 1px solid #808080;
	outline: none;
	font-size: 1rem;
	text-indent: 3rem;
}

.login-user:focus,.login-pass:focus {
	border-bottom: 1px solid #252424;
}

.icon-yonghu,.icon-mima1,.icon-yanjingxian,.icon-yanjing,.icon-Delete {
	position: absolute;
	color: #808080;
}

.login-user:focus+.icon-yonghu,.login-pass:focus+.icon-mima1 {
	color: black;
}

.icon-Delete {
	font-size: 1.3rem;
	right: 4%;
	top: 4%;
	cursor: pointer;
}

.icon-yonghu {
	font-size: 1.3rem;
	left: 13%;
	bottom: 54%;
}

.icon-mima1 {
	font-size: 1.6rem;
	left: 12.5%;
	bottom: 2%;
}

.icon-yanjingxian,.icon-yanjing {
	font-size: 1.6rem;
	right: 13%;
	bottom: 2%;
	cursor: pointer;
}

.login-prove {
	position: absolute;
	left: 13%;
	top: 49%;
	font-size: 0.9rem;
	color: #ff5e5e;
	display: none;
}

.login-found {
	position: absolute;
	right: 12%;
	top: 49%;
	color: #808080;
	font-size: 0.9rem;
	cursor: pointer;
}

.icon-yanjingxian:hover,.icon-yanjing:hover,.icon-Delete:hover,.login-found:hover {
	color: #252424;
}

.login-log,.login-register {
	position: absolute;
	padding: 2% 12%;
	color: #252424;
	font-size: 1rem;
	border-radius: 15px;
	border: 1.5px solid #252424;
	background: #fff;
	outline: none;
	cursor: pointer;
}

.login-log {
	left: 10%;
	bottom: 38%;

}

.login-register {
	right: 10%;
	bottom: 38%;
}

.login-log:hover,.login-register:hover {
	background: #252424;
	color: #fff;
}

.login-another {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	text-align: center;

}

.login-tip {
	margin: 10% auto;
	color: #808080;
	font-size: 0.9rem; 
}

.login-small {
	padding: 10% 5%;
}

.icon-qq1,.icon-weixin3,.icon-weibo1 {
	font-size: 3rem;
	padding: 10% 10%;
	opacity: 0.5;
	cursor: pointer;
}

.icon-qq1 {
	color: #2196f3;
}

.icon-weixin3 {
	color: #3eba0c;
}

.icon-weibo1 {
	color: #f44336;
}

.icon-qq1:hover,.icon-weixin3:hover,.icon-weibo1:hover {
	opacity: 1;
}

.register-holder {
	z-index: 999;
	position: absolute;
	width: 10%;
	left: 20%;
	top: 7%;
	padding: 2% 5%;
	background: #fff;
	border: 1px solid #292828;
	border-bottom: none;
	font-size: 0.9rem;
	color: #292828;
}

.register-line {
	position: absolute;
	top: 13.4%;
	width: 72%;
	border: none;
	border-bottom: 1px solid #292828;
	color: #292828;
}

.register-form {
	position: absolute;
	top: 20%;
	width: 100%;
	height: 63%;
	left: -2%;
}

.register-user,.register-pass,.register-sec-pass,.register-email,.register-blog {
	display: inline-block;
	width: 71%;
	margin-bottom: 10%; 
	margin-right: 2%;
	padding: 1.5% 2%;
	border: 1px solid #808080;
	outline: none;
	font-size: 0.8rem;
	color: #b0b0b0;
}

label {
	display: inline-block;
	font-size: 1.1rem;
	color: #000000;  
	margin: 0 1%;
}

.register-sure {
	position: absolute;
	padding: 2% 8%;
	color: #252424;
	font-size: 1rem;
	border: 1.5px solid #252424;
	background: #fff;
	outline: none;
	cursor: pointer;
	left: 35.5%;
	bottom: 6%;

}

.register-sure:hover {
	background: #252424;
	color: #fff;
}

.yes {
	position: absolute;
	right: 0;
	top: 2%;
	display: block;
	width: 4%;
	height: 2%;
	border: 2px solid rgb(102,255,102);
	border-top: none;
	border-right: none;
	transform: rotate(-50deg);
	/*display: none;*/
}