/*user-info.css*/
a {
    text-decoration: none;
    color: #252424;
}

.card-show {
    opacity: 1; 
}
.user-info {
    position: absolute;
    top: 6.26%;
    right: 3px;
    width: 16.25%;
    height: 86%;
    padding: 1.05% 1.3%;
    background-color: #f5f3f3; 
    margin-right: -20%; 
    transition: all .5s;
    z-index: 150;
}
/*header*/
.user-info-header {
    height: 27%;
    width: 100%;
    margin: 0 auto 2% auto;
}
.user-info-header-head {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
    border-radius: 50px;
}
.portrait {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .3s;
}
.portrait:hover {
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,.6);
}


/*****************************头像**********************************/
.header-change {
    position: absolute;
    opacity: 0;
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 5.6% auto auto auto;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0,0,0,.4);
    transition: all .3s;
}
.header-change p {
    color: white;
    font-size: .9rem;
    width: 40%;
    padding: 27% 33%;
}
.user-info-header-head:hover > .header-change {
    opacity: 1;
}

.container {
    position: absolute;
    display: none;
    width: 26%;
    height: 43%;
    top: -10%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #f5f3f3;
    padding: 4% 4% 1% 4%;
    z-index: 150;
}
.click-upload {
    position: absolute;
    display: flex;
    width: 50%;
    height: 65%;
    top: 15%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.avatar-body {
    width: 66%;
    height: 80%;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.3) inset;
    background-color: #f5f3f3;
    overflow: hidden;
}
.avatar-row {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 62%;
    right: 0;
    margin: auto;
    background-color: rgba(185,185,185,.8);
}
.avatar-preview {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.avatar-row p {
    position: absolute;
    width: 100%;
    font-size: .8rem;
    text-align: center;
    margin-top: 10%;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
.close {
    float: right;
    outline: none;
    border: none;
    background: transparent;
    width: 6%;
    height: 8%;
    margin: -9%;
    cursor: pointer;
}
.done {
    border: none;
    padding: 1% 3%;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #00b566;
    outline: none;
    transition: all .3s;
    font-size: .8rem;
}
.re-upload {
    border: none;
    padding: 1% 3%;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    float: left;
    margin-top: 2%;
    margin-left: 28%;
    outline: none;
    background-color: rgb(121,180,238);
    transition: all .3s;
    font-size: .8rem;
}
.re-upload:hover {
    background-color: rgb(96,160,224);
}
.done:hover {
    background-color: #009e5b;
}
/********************************************************************************/


/*点击在线人数之后*/
.online-header {
    width: 3rem;
    height: 3rem;
    transform: translateX(-6rem);
}

.user-info-header-name {
    text-align: center;
    /*font-family: Microsoft YaHei,sans-serif;*/
    font-family: sonsolas,menlo;
    font-size: 1.2rem;
    color: #252424;
    margin: 10% 0 6% 0
}
.user-info-header-blog {
    text-align: center;
    color: #252424;
}
.blog-line {
    border: none;
    font-family: Candara;
    font-size: 1rem;
    background-color: #f5f3f3;
    text-align: center;
    display: inline;
    padding: 0 5% 1% 5%;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.user-info-header-blog input:focus {
    cursor: inherit;
}


/*memo*/
.user-info-memo {
    width: 100%;
    height: 21%;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 15%; 
}

.memo-title {
    line-height: 1.2rem;
}
/*分别选中title和sheet搞事情*/
.memo-online-title {
    display: block;
    width: 1.7rem;
    height: 1.2rem;
    float: right;
    padding-left: 2%;
    margin: 3% -1% 0 50%;
    font-size: .7rem;
    background-color: #fff45c;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: all .3s;
}
.memo-online-title.title-press {
    box-shadow: none;
    background-color: rgba(232,232,24,.8);;
    margin-right: 0;
}
.user-info-memo input {
    display: block;
    width: 1.7rem;
    height: 1.2rem;
    float: right;
    padding-left: 2%;
    margin: 3% -1% 0 50%;
    font-size: .7rem;
    background-color: #fff45c;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: all .3s;
}
input.title-press {
    box-shadow: none;
    background-color: rgba(232,232,24,.8);
    margin-right: 0;
}
.user-info-memo textarea {
    display: none;
    position: absolute;
    font-family: Microsoft YaHei;
    width: 65%;
    height: 15%;
    margin: 5% 0 0 5%;
    border: none;
    resize: none;
    cursor: pointer;
}
.user-info-memo textarea:focus {
    cursor: inherit;
}
textarea.text-show {
    display: block;
}


/*self daily css*/
.user-info-post {
    height: 41%;
    box-shadow:1px 1.5px 2px rgba(0, 0, 0, 0.25);
}
.user-info-article {
    position: relative;
    height: 16%;
    font-family: Microsoft YaHei;
    font-size: .7rem;
    color: #252424;
    opacity: .7;
    text-align: center;
    line-height: 3rem;
    background-color: white;
    padding: 0 5% 0 10%;
    margin-bottom: 2px;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
}
.user-info-article-mask {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    width: 20%;
    height: 3%;
    margin: -11% 0 0 62%;
    opacity: .8;
    background-image: linear-gradient(to left, rgba(255,255,255,1),rgba(251,251,251,0));
}

.user-info-article:hover {
    opacity: 1;
}

/*btn bottom*/
.user-info-bottom {
    display: block;
}

/*清除通知与提醒按钮*/
.user-info-remind {
    display: inline-block;
    width: 100%;
}
.user-info-switch {

    float: right;

}
.user-info-clear {
    display: inline;
    margin: 0 0 0 50%;
}

.user-info-clear p {
    display: inline;
    font-family: Microsoft YaHei,sans-serif;
    font-size: .6rem;
    opacity: .8;
    cursor: pointer;
    color: #252424;
}
.user-info-switch {
    display: block;
    width: 30%;
}
.user-info-switch p {
    display: inline;
    font-family: Microsoft YaHei,sans-serif;
    font-size: .6rem;
    opacity: .8;
    color: #252424;
    cursor: default;
}
.switch-iphone {
    position: absolute;
    display: inline-block;
    background: #00B566 no-repeat;
    margin: 2.1% 0 0 3%;
    width: 1.6rem;
    height: .8em;
    border: 1px solid #00B566;
    border-radius: 50px 50px;
    transition: all .3s;
    cursor: pointer;
}
.switch-circle {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50px 50px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5) inset;
    left: 45%;
    top: -12%;
    cursor: pointer;
    transition: all .2s;
}
.btn-off {
    left: -5%;
}
.green-off {
    /*background: -webkit-linear-gradient(top, #F4F4F4,#fff);*/
    /*貌似transition无法切换rgb与gradient所以用了纯色*/
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
}

/*在线人数*/
.user-info-online p {
    display: inline;
    font-family: Microsoft YaHei,sans-serif;
    font-size: .8rem;
    cursor: pointer;
    position: absolute;
    padding-right: 6%;
}
.position-adjust {
    margin-top: 7%;
}

.online-list-btn {
    position: absolute;
    display: inline-block;
    padding: 2%;
    margin-top: 3%;
    margin-left: 6%;
    width: .5rem;
    height: .5rem;
    background-image: url(../images/duobianxing1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.user-info-setting {
    float: right;
    width: .8rem;
    height: .8rem;
    margin: 3% -4% 0 0;
    background-image: url(../images/tuoyuan10.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.online-list {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 4%;
    background-color: white;
    width: 83%;
    height: 86%;
    padding-left: 5%;
    box-shadow: 0px -1px 7px rgba(0,0,0,.3) inset;
    overflow-y: scroll;
    overflow-x: hidden;
}


.online-list::-webkit-scrollbar-thumb,
.online-list::-webkit-scrollbar-track,
.online-list::-webkit-scrollbar{
	width: 0;
	background-color: rgba(0,0,0,0);
}
.user-info-header-onlist {
    display: block;
    height: 3rem;
    margin: 4.8%; 
}
.user-info-header-head-onlist {
    display: inline;
}
.user-info-header-head-onlist img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px 50px;
    cursor: pointer;
}
.user-info-header-blog-onlist {
    /*display: inline;*/
    display: none;
    font-family: Microsoft YaHei;
    font-size: .5rem;
    margin-left: -4%;
}
.user-info-header-name-onlist {
    position: absolute;
    font-size: .9rem;
    font-family: consolas,menlo;
    color: #555;
    left: 32%;
    margin-top: -14%;
    white-space: nowrap;
}